@font-face {
    font-family: 'Alegreya SC';
    src: url('../fonts/AlegreyaSC-Bold.ttf');
}

.label {
    -fx-font-family: "Alegreya SC";
    -fx-font-size: 80;
    -fx-alignment: center;
}

.anchor {
    -fx-background-image:url('../images/pattern.png');
    -fx-background-repeat: repeat;
    -fx-background-size: 2700px 2700px;
    -fx-background-position: center;
}


.error-message {
    -fx-text-fill: red;
    -fx-font-family: "Alegreya SC";
    -fx-text-alignment: center;
    -fx-font-size: 30;
}

.numOfPlayers {
    -fx-font-family: "Alegreya SC";
    -fx-font-size: 20;
}

.matchId{
    -fx-font-family: "Alegreya SC";
    -fx-font-size: 20;
}


.button {
    -fx-font-family: 'Alegreya SC', sans-serif;
    -fx-margin: 1em 0 1em 0;
    -fx-position: relative;
    -fx-background-radius: 20px;

    -fx-font-size: 35;
    -fx-padding: 0.3em;
    -fx-outline: none;
    -fx-border-width: 2px;
    -fx-border-color: rgb(70, 46, 15);
    -fx-background-color: rgba(255, 238, 193, 0.82);
    -fx-border-radius: 20px;
}

.input {
    -fx-font-family: 'Alegreya SC', sans-serif;
    -fx-margin: 1em 0 1em 0;
    -fx-position: relative;
    -fx-background-radius: 20px;

    -fx-font-size: 10;
    -fx-padding: 0.8em;
    -fx-outline: none;
    -fx-border-width: 2px;
    -fx-border-color: rgb(105, 85, 65);
    -fx-background-color: rgba(255, 238, 193, 0.82);
    -fx-border-radius: 20px;
}

.radio-button{

    -fx-mark-color: rgb(105, 85, 65);
    -fx-color: rgba(255, 232, 181, 0.82);

    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-padding: 0.1em;
    -fx-border-width: 1.5px;
    -fx-border-color: rgb(105, 85, 65);
    -fx-background-color: rgba(255, 238, 193, 0.82);
}