@font-face {
    font-family: 'Alegreya SC';
    src: url('../fonts/AlegreyaSC-Bold.ttf');
}

.label {
    -fx-font-family: "Alegreya SC";
    -fx-font-size: 60;
    -fx-alignment: center;
}

.anchor {
    -fx-background-image:url('../images/pattern.png');
    -fx-background-repeat: repeat;
    -fx-background-size: 2700px 2700px;
    -fx-background-position: center;
}


.error-message {
    -fx-text-fill: red;
    -fx-font-family: "Alegreya SC";
    -fx-text-alignment: center;
    -fx-font-size: 30;
}

.input {
    -fx-font-family: 'Alegreya SC', sans-serif;
    -fx-margin: 1em 0 1em 0;
    -fx-position: relative;
    -fx-background-radius: 25px;

    -fx-font-size: 17;
    -fx-padding: 0.8em;
    -fx-outline: none;
    -fx-border-width: 2px;
    -fx-border-color: rgb(105, 85, 65);
    -fx-background-color: rgba(255, 238, 193, 0.82);
    -fx-border-radius: 25px;
}