@font-face {
    font-family: 'Alegreya SC';
    src: url('../fonts/AlegreyaSC-Bold.ttf');
}

.label {
    -fx-font-family: "Alegreya SC";

    -fx-font-size: 45;
    -fx-alignment: center;
}

.anchor {
    -fx-background-image:url('../images/pattern.png');
    -fx-background-repeat: repeat;
    -fx-background-size: 2700px 2700px;
    -fx-background-position: center;
}

.button {
    -fx-font-family: 'Alegreya SC', sans-serif;
    -fx-margin: 1em 0 1em 0;
    -fx-position: relative;
    -fx-background-radius: 10px;

    -fx-font-size: 13;
    -fx-padding: 0.8em;
    -fx-outline: none;
    -fx-border-width: 2px;
    -fx-border-color: rgb(213, 43, 49);
    -fx-background-color: rgba(255, 238, 193, 0.82);
    -fx-border-radius: 10px;
}